    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#/home">Home</a></li>
                <li role="presentation"><a href="#/e1">English 1</a></li>
                <li role="presentation"><a href="#/e2">English 2</a></li>
                <li role="presentation"><a href="#/e3">English 3</a></li>
                <li role="presentation"><a href="#/resources">Resources</a></li>
            </ul>
        </div>
    </nav>