<div></div>
<b>Review<br>
</b>
<div>
  <ul>
    <li>Understanding Numbers - (<a href="https://learnenglishteens.britishcouncil.org/skills/listening-skills-practice/understanding-numbers" target="_blank">British Council</a>, <a href="http://www.esl-lab.com/num2.htm" target="_blank">ESL Lab</a>)</li>
    <li><a href="https://quizlet.com/_1rpa9t" target="_blank">Question Words Flashcards</a>, <a href="http://www.esl-lounge.com/student/grammar/2g17-question-word-exercise.php" target="_blank">Quiz</a>, <a href="http://www.eslgamesplus.com/question-words-what-where-who-why-when-which-how-grammar-activity/"
      target="_blank">Game</a>, <a href="http://cdextras.cambridge.org/funfor/flyers/popup.html?dir=word_jumble/flyers_questionwords" target="_blank">Game 2</a></li>
  </ul>
</div>
<div><b><br>
Chapter 1 <br>
</b>
  <ul>
    <li><a href="https://quizlet.com/_1rpa9t" target="_blank">Question Words</a> - Flashcards, <a href="http://www.eslgamesplus.com/question-words-what-where-who-why-when-which-how-grammar-activity/" target="_blank">Game</a></li>
    <li><a href="https://drive.google.com/file/d/0B9wjDxZIOqfNeVlXMjZjRUsxZXM/view?usp=sharing" target="_blank">Homework</a>
      <br>
    </li>
  </ul>
</div>
<b>Chapter 2<br>
</b>
<ul>
  <li><a href="https://quizlet.com/_1rp6gl" target="_blank">Size, Shape, Eyes - Flashcards<br>
</a></li>
  <li><a href="https://quizlet.com/_1rp3ag" target="_blank">Work Ethic and Sociability - Flashcards<br>
</a></li>
  <li><a href="https://quizlet.com/_1rp4sm" target="_blank">Courage, Emotions and Intelligence</a> - Flashcards</li>
  <li><a href="http://www.learnenglish.de/basics/appearances.html" target="_blank">Describing People</a> - Written Examples, <a href="https://www.youtube.com/watch?v=vyXq6uZN1Sk" target="_blank">Video Examples</a>
    <br>
  </li>
  <li><a href="https://drive.google.com/file/d/0B9wjDxZIOqfNSV9pampGS2F3LWs/view?usp=sharing" target="_blank">Homework</a>
    <br>
  </li>
</ul>
<p><b>Chapter 3</b></p>
<ul>
  <li><a href="https://quizlet.com/_1rwpod" target="_blank">Common Comparisons and Superlatives (-ER,-EST) - Flashcards<br>
</a></li>
  <li>Comparisons <a href="http://www.learnenglishfeelgood.com/english-comparative-adjectives1.html" target="_blank">Spelling Quiz</a></li>
  <li>Comparative/Superlative <a href="http://www.azargrammar.com/assets/begpowerpoint_04/Chapter_15.pps" target="_blank">PowerPoint</a>, <a href="http://english-zone.com/spelling/comparerules.html" target="_blank">Spelling Rules</a>, <a href="http://www.learnenglishfeelgood.com/english-comparative-superlative1.html"
    target="_blank">Comparative or Superlative&nbsp; Quiz</a>
    <br>
  </li>
  <li><a href="https://drive.google.com/file/d/0B9wjDxZIOqfNeFZyR054QmFfdEk/view?usp=sharing" target="_blank">Homework</a>
    <br>
  </li>
</ul>
<p><b>Chapter 4 <br>
</b></p>
<ul>
  <li><a href="https://quizlet.com/_1rpjwb" target="_blank">Sports - Flashcards</a></li>
  <li><a href="https://quizlet.com/_1rpk89" target="_blank">Games and Hobbies - Flashcards</a></li>
  <li><a href="https://quizlet.com/_1rpkhm" target="_blank">Feeling and Gym - Flashcards</a></li>
  <li><a href="http://www.perfect-english-grammar.com/present-continuous.html" target="_blank">Present Continuous Lesson</a> - talking about what you are doing now (Perfect English Grammar)</li>
  <li><a href="https://drive.google.com/file/d/0B9wjDxZIOqfNaUhYNDAyY3diOWs/view?usp=sharing" target="_blank">Homework</a>
    <br>
  </li>
</ul>
<p><b>Chapter 5</b></p>
<ul>
  <li><a href="https://quizlet.com/_1rtq7d" target="_blank">Days of the Week - Flashcards</a></li>
  <li><a href="https://quizlet.com/_1rtqf0" target="_blank">Months of the Year - Flashcards</a></li>
  <li><a href="http://learnenglishteens.britishcouncil.org/grammar-vocabulary/grammar-videos/adverbs-frequency" target="_blank">Adverbs of Frequency Listening</a> (British Council)</li>
  <li><a href="http://www.perfect-english-grammar.com/simple-present-exercises.html" target="_blank">Present Simple Practice</a>
    <br>
  </li>
  <li><a href="http://www.eslgamesplus.com/prepositions-of-time-esl-grammar-interactive-game/" target="_blank">IN, AT, ON Game</a>
    <br>
  </li>
</ul>
<p><b>Midterm</b>
  <br>
</p>
<div>
  <div>
    <b>Chapter 6<br>
</b>
    <ul>
      <li><a href="https://quizlet.com/_1rwpbu" target="_blank">Directions and Nation Terms - Flashcards</a></li>
      <li><a href="https://quizlet.com/_1rwq5b" target="_blank">Countries - Flashcards</a></li>
      <li><a href="https://learnenglishkids.britishcouncil.org/en/grammar-games/will-future-predictions" target="_blank">Sentence Scramble using WILL</a></li>
      <li><a href="https://quizlet.com/_1s4h5p" target="_blank">Vocabulary of Place</a> - Flashcards
        <br>
      </li>
      <li>Advanced - <a href="http://www.englishpage.com/verbpage/verbs21.htm" target="_blank">Simple Present vs Simple Future</a>
        <br>
      </li>
    </ul>
  </div>
  <div>
    <b>Chapter 7 <br>
</b>
    <ul>
      <li><a href="https://quizlet.com/_1rwqa4" target="_blank">Directions and Prepositions of Place - Flashcards</a></li>
      <li><a href="https://quizlet.com/_1rwqfr" target="_blank">Landmarks - Flashcards</a></li>
      <li><a href="http://learnenglishteens.britishcouncil.org/skills/listening-skills-practice/giving-directions" target="_blank">Interactive Lesson</a> - British Council
        <br>
      </li>
    </ul>
    <p><b>Chapter 8 <br>
</b></p>
    <ul>
      <li><a href="https://quizlet.com/_1s4hvw" target="_blank">Shopping Terms - Flashcards</a></li>
      <li><a href="https://quizlet.com/_1s4xai" target="_blank">Things to Buy</a></li>
      <li><a href="https://quizlet.com/_1s4lkd" target="_blank">Adjectives and Phrases</a> - Flashcards
        <br>
      </li>
      <li><a href="https://www.youtube.com/watch?v=gNaDvAYC0Jw" target="_blank">StickStuckStuck Rap</a>, <a href="https://www.youtube.com/watch?v=LmdK2PKoC9w" target="_blank">Cat Song</a></li>
      <li><a href="https://drive.google.com/file/d/0B9wjDxZIOqfNY0ZLS2s3a09ONGc/view?usp=sharing" target="_blank">Past Tense Slideshow</a>
        <br>
      </li>
    </ul>
    <p><b>Chapter 9 <br>
</b></p>
    <ul>
      <li><a href="https://quizlet.com/_1s4td6" target="_blank">Movie Information - Flashcards</a></li>
      <li><a href="https://quizlet.com/_1thfyx" target="_blank">Movie Genre - Flashcards</a></li>
      <li><a href="https://www.youtube.com/watch?v=e2cFHyEHv6A" target="_blank">You Guys Wanna See a Movie</a> - Funny YouTube Video</li>
    </ul>
    <p><b>Chapter 10</b></p>
    <ul>
      <li><a href="https://quizlet.com/_1s4vhm" target="_blank">Job Definitions - Flashcards</a>
        <br>
      </li>
      <li><a href="https://www.youtube.com/watch?v=GnQ2iCIpOmE" target="_blank">Asking about Jobs Video</a> - 3 Minute English</li>
      <li><a href="https://www.youtube.com/watch?v=bwTDqG62_Vk" target="_blank">Job Vocabulary - Video</a></li>
      <li><a href="http://www.learnenglish.de/vocabulary/jobs.html" target="_blank">Job Vocabulary - Written</a>
        <br>
      </li>
    </ul>
  </div>
  <div>

    <div>*Content marked advanced is for your own practice. You will not be tested on it.<b><br>
</b>
    </div>
    <br>
    <br>
  </div>
</div>
