<div><b> Review<br>
</b>
  <ul>
    <li><span id="span_988e_0">Grammar - </span><a href="https://www.ego4u.com/en/cram-up/grammar/simple-present/form" id="a_988e_0">Simple Present</a></li>
    <li><span id="span_988e_1">Grammar - </span><a href="https://www.ego4u.com/en/cram-up/grammar/present-progressive" id="a_988e_1">Present Continuous/Progressive</a></li>
    <li><span id="span_988e_2">Grammar - </span><a href="https://www.ego4u.com/en/cram-up/grammar/simple-past" id="a_988e_2">Simple Past</a><span id="span_988e_3">, </span><a href="https://www.ego4u.com/en/cram-up/grammar/irregular-verbs" id="a_988e_3">Irregular Verbs</a>
      <span
      id="span_988e_4">,</span>
    </li>
  </ul>
</div>
<b>
<div><br>
</div>
Unit 1 - Introductions<br>
</b>
<ul>
  <li><a href="https://quizlet.com/_1v0ew8" target="_blank">Vocabulary - Flashcards</a></li>
  <li><a href="https://quizlet.com/_1tvyk1" rel="nofollow" target="_blank">Kinship / Relations - Flashcards</a></li>
</ul>
<p><b>Unit 2 - To the Airport</b></p>
<ul>
  <li>Flashcards - <a href="https://quizlet.com/_1v0ghj" target="_blank">People</a>, <a href="https://quizlet.com/_1v0gpi" target="_blank">Necessary Things</a>, <a href="https://quizlet.com/_1v0h4j" target="_blank">Places &amp; Nouns</a>, Adjectives, Verbs</li>
</ul>
<p><b>Unit 3 -Traveling Around</b></p>
<ul>
  <li>Flashcards - <a href="https://quizlet.com/_1zumdo" target="_blank">Sightseeing I</a>, <a href="https://quizlet.com/_200j3s" target="_blank">Sightseeing II</a><b>, </b><a href="https://quizlet.com/_200j9i" target="_blank">Sightseeing III</a><b>, <br>
</b></li>
  <li>Future - <a href="https://www.ego4u.com/en/cram-up/grammar/future-1-going-to" target="_blank">Using Going to</a></li>
  <li><a href="https://drive.google.com/file/d/0B9wjDxZIOqfNNl9RVTVKYWt5V00/view?usp=sharing" target="_blank">Mid-Term Review</a></li>
</ul>
<p><b>Unit 4 - At the Hospital</b></p>
<ul>
  <li><span id="span_988e_5">Flashcards - </span><a href="https://quizlet.com/_223dvn" id="a_988e_4">Body Parts</a><span id="span_988e_6">, </span><a href="https://quizlet.com/_21ovdc" id="a_988e_5">Symptoms: Talking about what's wrong</a></li>
</ul>
<p><b>Unit 5 - Jobs</b>
  <br>
</p>
<ul>
  <li><a href="https://www.youtube.com/watch?v=Kp5uHN__110" target="_blank">Job Interview Video - Learn English</a>
    <br>
  </li>
  <li>Power Verbs&nbsp;</li>
  <ul>
    <li><a href="https://prowritingaid.com/en/Collocation/Dictionary?word=organize" target="_blank">Collocation Finder</a></li>
    <li><a href="https://quizlet.com/_23hv4a" target="_blank">Flashcards</a></li>
  </ul>
</ul>
<div>
  <br>
</div>
