<!--Creates a list of generated contenct sorted by class and unit. -->
<div ng-show="vm.canSubmit">
  <div ng-class="{spacer: vm.canSubmit}">
    <jm-links-form></jm-links-form>
  </div>
  <div class="white">
    Unassigned Links
    <div ng-repeat="una in vm.links" ng-show="una.clsName == false || una.clsName === undefined || una.unit === undefined">
      <input type="text" ng-model="una.title" placeholder="Enter title" ng-change="vm.links.$save(una)" /> {{una.unit}}
      <select type="text" ng-init="" ng-model="una.clsName" ng-change="vm.links.$save(una)">
        <option value "">--Select a Class--</option>
        <option ng-repeat="option in vm.cls" value="{{option.clsName}}">{{option.clsName}}</option>
      </select>
      <button class="btn btn-default btn-xs indent" ng-click="vm.loadLink(una)">Edit</button>
      <button class="btn btn-danger btn-xs indent" ng-click="vm.links.$remove(una)">Delete</button>
      <button class="btn btn-info btn-xs indent" ng-click="vm.links.$save(una)">Save</button>
    </div>
  </div>
</div>

<div class="white">
  <div ng-repeat="c in vm.cls" ng-show="c.clsName == vm.nav.clsName">
    <h2>{{c.clsName}}</h2>
    <div ng-repeat="u in vm.units " ng-show="u.unitCls == vm.nav.clsName">
      <div class="pad-me">
        <h3></b>{{u.unitName}} - <small>{{u.unitDescription}}</small></h3>
      </div>
      <div></div>
      <div ng-repeat="l in vm.links">
        <div ng-if="l.unit == u.unit && l.clsName === vm.nav.clsName" class="panel panel-default">
          <div class="panel-heading" ng-init="showMe = true" ng-click="showMe=!showMe">
            {{l.title}} <span class="pull-right">{{l.type}}</span>
          </div>
          <div class="panel-body panel-collapse animated fadeIn" ng-class="{collapse: showMe}">
            <div class="pull-right">
              <a class="indent" ng-href="{{l.link}}" target="_blank">
                <button ng-if="l.link" class='btn btn-default btn-xs'>Open</button>
              </a>
              <button ng-show="vm.canSubmit" class="btn btn-default btn-xs" ng-click="vm.loadLink(l)">Edit</button>
            </div>
            <div>
              <div  ng-bind-html="l.description | sanitize"></div>
              <small>{{l.source}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>