<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">ILC</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#/home">Mesage Board</a></li>
                <li ng-repeat="cls in vm.cls" ng-click="vm.assignCls(cls.clsName)">
                    <a>{{cls.clsName}}</a></li>
                <li><a href="#/setup">Setup</a></li>
                <li><a href="#/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>