<jm-list ng-init="q={e3: true}"></jm-list>
<jm-create ng-init="d.e3 = true"></jm-create>
<br/>

<div class="white">
  <div>
    <div class="well" flex="50">
      <h3>Review</h3>
      <ul>
        <li>Grammar - <a href="https://www.ego4u.com/en/cram-up/grammar/simple-present/form" target="_blank">Simple Present</a></li>
        <li>Grammar - <a href="https://www.ego4u.com/en/cram-up/grammar/present-progressive" target="_blank">Present Continuous/Progressive</a></li>
        <li>Grammar - <a href="https://www.ego4u.com/en/cram-up/grammar/simple-past" target="_blank">Simple Past</a></li>
        <li><a href="https://www.ego4u.com/en/cram-up/grammar/irregular-verbs" target="_blank">Irregular Verbs</a></li>
      </ul>
    </div>
    <div class="well" flex="50">
      <h3>My content</h3>
    </div>
  </div>

  <div layout="row">
    <div class="well" flex="50">
      <h3>Unit 1 - Introducing Someone</h3>
      <ul>
        <li><a href="https://quizlet.com/_1v0ew8" target="_blank">Vocabulary - Flashcards</a></li>
        <li><a href="https://quizlet.com/_1tvyk1" rel="nofollow" target="_blank">Kinship / Relations - Flashcards</a></li>
      </ul>
    </div>
    <div class="well" flex="50">
      <h3>My content</h3>
    </div>
  </div>

  <div layout="row">
    <div class="well" flex="50">
      <h3>Unit 2 - At the Airport</h3>
      <ul>
        <li>Flashcards - <a href="https://quizlet.com/_1v0ghj" target="_blank">People</a>, <a href="https://quizlet.com/_1v0gpi" target="_blank">Necessary Things</a>, <a href="https://quizlet.com/_1v0h4j" target="_blank">Places &amp; Nouns</a>, Adjectives,
          Verbs</li>
      </ul>
    </div>
    <div class="well" flex="50">
      <h3>My content</h3>
    </div>
  </div>

  <div layout="row">
    <div class="well" flex="50">
      <h3>Unit 3 - Travelling Around</h3>
      <ul>
        <li>Flashcards - <a href="https://quizlet.com/_1zumdo" target="_blank">Sightseeing I</a>, <a href="https://quizlet.com/_200j3s" target="_blank">Sightseeing II</a><b>, </b><a href="https://quizlet.com/_200j9i" target="_blank">Sightseeing III</a><b></li>
      <li>Future - <a href="https://www.ego4u.com/en/cram-up/grammar/future-1-going-to" target="_blank">Using Going to</a></li>
      <li><a href="https://drive.google.com/file/d/0B9wjDxZIOqfNNl9RVTVKYWt5V00/view?usp=sharing" target="_blank">Mid-Term Review</a></li>
    </ul>
  </div>
  <div class="well" flex="50">
    <h3>My content </h3>
  </div>
</div>

<div layout="row">
  <div class="well" flex="50">
    <h3>Unit 4 - At the Hospital</h3>
      <ul>
        <li><span id="span_988e_5">Flashcards - </span><a href="https://quizlet.com/_223dvn" id="a_988e_4">Body Parts</a><span id="span_988e_6">, </span><a href="https://quizlet.com/_21ovdc" id="a_988e_5">Symptoms: Talking about what's wrong</a></li>
      </ul>
  </div>
  <div class="well" flex="50">
    <h3>My content</h3>
  </div>
</div>

<div layout="row">
  <div class="well" flex="50">
    <h3>Unit 5 - Jobs</h3>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=Kp5uHN__110" target="_blank">Job Interview Video - Learn English</a></li>
      <li>Power Verbs&nbsp;</li>
      <ul>
        <li><a href="https://prowritingaid.com/en/Collocation/Dictionary?word=organize" target="_blank">Collocation Finder</a></li>
        <li><a href="https://quizlet.com/_23hv4a" target="_blank">Flashcards</a></li>
      </ul>
    </ul>
  </div>
  <div class="well" flex="50">
    <h3>My content</h3>
  </div>
</div>
</div>
