<div class="col-lg-10 col-lg-offset-1 white">
    <h4>This site contains resources to help you study for tests and more.</h4>
    <p>Also, check out our Facebook Group: <a href="https://www.facebook.com/groups/501298370031345/" target="_blank">RRU-ILC</a></p>
    <p>Beside your class pages there are also lots of good resources in the <a href="https://www.rru-ilc.org/class/other">extra</a>tab.</p>
    <p>Teacher Jacob also has a blog at <a href="www.teacherjake.com">www.teacherjake.com</a> .</p>
    <jm-msg-board></jm-msg-board>
</div>
<!-- <div id="firepad"></div> -->
