<div class="col-lg-10 col-lg-offset-1 white">
    <h4>This site contains resources to help you study for tests and more.</h4>
    <p>There is Facebook group for students: <a href="https://www.facebook.com/groups/501298370031345/" target="_blank">RRU-ILC</a></p>
    <p>Be sure to check out the resources on the <a href="https://www.rru-ilc.org/class/other">extra</a> tab too.</p>
    <p>Teacher Jacob has a blog at <a href="http://www.teacherjake.com" target="_blank">www.teacherjake.com</a>.</p>
    <jm-msg-board></jm-msg-board>
</div>
<!-- <div id="firepad"></div> -->
