<jm-list ng-init="q={other: true}"></jm-list>
<jm-create ng-init="d.other = true"></jm-create>

<div class="panel panel-default">
  <div class="panel-heading" ng-click="grammar=!grammar">Grammar</div>
  <div class="panel-body panel-collapse" ng-class="{collapse: !grammar}">
    <ul>
    <li><a href="http://www.roadtogrammar.com/" target="_blank">Road to Grammar</a> - Lots of Interactive Quizzes.</li>
    <a href="http://www.englishclub.com/esl-quizzes/index.htm" target="_blank">EnglishClub Quizzes</a></li>
    <li> <a href="http://www.englishpage.com/verbpage/simplefutureforms.html" target="_blank">Verb Tense</a> - Englishpage.com</li>
  </ul>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" ng-click="listening=!listening">Listening</div>
  <div class="panel-body panel-collapse" ng-class="{collapse: !listening}">
    <ul>
      <li><a href="http://learningenglish.voanews.com/media/all/english-in-a-minute/latest.html?z=3619" target="_blank">Idioms Explained - English in a Minute - VOA</a>
      </li>
      <li><a href="http://www.learnenglishfeelgood.com/eslvideo/index.html" target="_blank">Short Film Clips with Questions</a></li>
      <li><a href="https://english.yabla.com/" target="_blank">YABLA </a>- Free Video Samples
      </li>
      <li><a href="http://esl.about.com/od/listening/a/b_diclist.htm" target="_blank">Listening Dictation</a> - Listen to short clips, write what you hear, and then check your answer.</li>
      <li>Conversations / Dialogues - <a href="http://www.eslfast.com/easydialogs/" target="_blank">Easy</a>, <a href="http://www.eslfast.com/robot/" target="_blank">Medium</a></li>
      <li>Reading &amp; Listening - <a href="http://www.eslfast.com/supereasy/" target="_blank">Level 1</a>, <a href="http://www.eslfast.com/easyread/" target="_blank">Level 2</a>, <a href="http://www.eslfast.com/eslread/" target="_blank">Level 3</a></li>
      <ul>
        <li>Long Form - <a href="http://www.eastoftheweb.com/short-stories/fictionindex.html" target="_blank">eastoftheweb</a> Short Stories, <a href="https://www.gutenberg.org/" target="_blank">Project Gutenberg</a>
        </li>
      </ul>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" ng-click="speaking=!speaking">Speaking</div>
  <div class="panel-body panel-collapse" ng-class="{collapse: !speaking}">
    <ul>
      <li><a href="http://www.tedpower.co.uk/l1thai.html" target="_blank">Pronunciation Practice for Thai Speakers - Minimal Pairs</a>
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" ng-click="writing=!writing">Writing</div>
  <div class="panel-body panel-collapse" ng-class="{collapse: !writing}">
    <ul>
      <li><a href="http://www.eslfast.com/robot/english_tutor.htm" target="_blank">The Language Robot</a></li>
      </li>
    </ul>
  </div>
</div>